.sky{
    height: 45vw;
    background: linear-gradient(70deg,blue,cyan, aqua);
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    opacity: 70%;
}
.ground{
    background: linear-gradient(180deg,white 55%, green );
    height: 300px;
   width: 100%;
   z-index: 2;
   top: 70%;
   position: absolute;
   
}
body{
    overflow-x: hidden; 
}
.sun{
    background-color: yellow;
    border-radius: 50%;
    z-index: 2;
    height: 200px;
    width: 200px;
    left: 86%;
    position: absolute;
    top:2%;
}
.head{
    background-color: antiquewhite;
    height:150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    z-index:3;
    top:30%;
    left:40%;
}
.body{
    background-color: antiquewhite;
    height:230px;
    width: 230px;
    border-radius: 50%;
    position: absolute;
    z-index:3;
    top:47%;
    left:37.5%;
}
.eye{
    height:12px;
    width:12px;
    background-color: black;
    border-radius: 45%;
    position: absolute;
}
.eye.left{
    left:65%;
    position: absolute;
    top:28%;
}
.eye.right{
    position: absolute;
    top:28%;
    right:65%;
}
.eye-lid{
    height:3px;
    width:17px;
    background-color: black;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
}
.eye-lid.left{
    left:63%;
    position: absolute;
    top:25%;
}
.eye-lid.right{
    position: absolute;
    top:25%;
    right:63%;
}
.nose{
    height: 20px;
    width:50px;
    background-color: orange;
    position: absolute;
    top:45%;
    left:45%;
    border-radius: 20px;
}
.mouth{
    position:absolute;
    top:73%;
    left:39%;
    width: 40px;
    height: 10px;
    background: red;
    border-radius: 40px / 10px;
}
.hand{
    position:absolute;
    background-color: brown;
    height: 80px;
    width: 20px;
    z-index: 3;
    top:55%;
    border-radius: 20px;
    transform-origin: 0% 0%;
    transform: rotate(-60deg);
    z-index: 1;
    animation: hands 5secs linear infinite;
}
.hand.right{
    transform: rotate(60deg);
    left:36.5%; 
    position:absolute;
}
.hand.left{
    transform: rotate(-60deg);
    left:53%;
    position:absolute;
}
body{

}
@keyframes hands{
    0%{
        transform: rotate(60deg);
    }
    60%{
        transform: rotate(120deg);
    }
    
}